@model shelter.Models.ClinicIndexModel

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="nav-link text-dark" asp-action="Create" asp-controller="Clinic">Create New</a>
</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.clinicViewModels)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="actions">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
